# =====================
# Ignorer fichiers lourds
# =====================

*.csv
*.txt
!requirements.txt
*.json
*.geojson
*.parquet
*.gz
*.zip

# =====================
# Ignorer Jupyter
# =====================

.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.ipynb_checkpoints

# =====================
# Ignorer environnements Python
# =====================

.venv/
venv/
env/
ENV/
*.env

# =====================
# Fichiers caches & temporaires
# =====================

__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db

# =====================
# Ignorer dossiers data
# =====================

data/
